<div class="sectionpage fragment">
    <header aria-label="Header content" role="banner">
        <button data-win-control="WinJS.UI.BackButton"></button>
        <h1 class="titlearea win-type-ellipsis">
            <span class="pagetitle">Demo Page</span>
        </h1>
    </header>
    <section role="main">
        <article>
            <p>This is a demo page.</p>
            <span data-win-bind="innerText: obs.hello"></span> <br />
            <input type="text" data-win-bind="value: obs.hello Binding.Mode.twoway">

            <p>Count times:</p>
            <span data-win-bind="innerText: obs.count"></span> <br />
        </article>
    </section>

    <div class="appbar" data-win-control="WinJS.UI.AppBar" data-win-options="{sticky: true}">
        <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id: 'onlineCommand', label:'Online', icon:'world', disabled: true}" type="button"></button>
        <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id: 'offlineCommand',label:'Offline', icon:'disconnectdrive', disabled: true}" type="button"></button>
    </div>
</div>